################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Temp
/Build/Release
/Build/Debug
/.vs/FogEngine/v16
